In [4]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(
    temperature=0.1,
    model_name="gpt-3.5-turbo-1106",
)
db = SQLDatabase.from_uri("sqlite:///movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    verbose=True,
)

# toolkit.get_tools()
agent.invoke("Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: directors, movies
Thought:I need to check the schema of the "movies" and "directors" tables to see which columns I can use for my query.
Action: sql_db_schema
Action Input: movies, directors
Observation:
CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Thought:I need to query the movies table to get the movies with the highest votes and lowest budgets, and then join the directors table to get the name of their directors and their gross revenue.
Action: sql_db_query
Action Input: SELECT m.original_title, m.budget, m.vote_count, m.revenue, d.name AS director
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
Observation: [('Inception', 160000000, 13752, 825532764, 'Christopher Nolan'), ('The Dark Knight', 185000000, 12002, 1004558444, 'Christopher Nolan'), ('Avatar', 237000000, 11800, 2787965087, 'James Cameron'), ('The Avengers', 220000000, 11776, 1519557910, 'Joss Whedon'), ('Deadpool', 58000000, 10995, 783112979, 'Tim Miller'), ('Interstellar', 165000000, 10867, 675120017, 'Christopher Nolan'), ('Django Unchained', 100000000, 10099, 425368238, 'Quentin Tarantino'), ('Guardians of the Galaxy', 170000000, 9742, 773328629, 'James Gunn'), ('The Hunger Games', 75000000, 9455, 691210692, 'Gary Ross'), ('Mad Max: Fury Road', 150000000, 9427, 378858340, 'George Miller')]
Thought:I now know the final answer
Final Answer: The movies with the highest votes but the lowest budgets and their directors, along with their gross revenue, are:
1. Inception, directed by Christopher Nolan, with a budget of 160,000,000 and a gross revenue of 825,532,764
2. The Dark Knight, directed by Christopher Nolan, with a budget of 185,000,000 and a gross revenue of 1,004,558,444
3. Avatar, directed by James Cameron, with a budget of 237,000,000 and a gross revenue of 2,787,965,087
4. The Avengers, directed by Joss Whedon, with a budget of 220,000,000 and a gross revenue of 1,519,557,910
5. Deadpool, directed by Tim Miller, with a budget of 58,000,000 and a gross revenue of 783,112,979
6. Interstellar, directed by Christopher Nolan, with a budget of 165,000,000 and a gross revenue of 675,120,017
7. Django Unchained, directed by Quentin Tarantino, with a budget of 100,000,000 and a gross revenue of 425,368,238
8. Guardians of the Galaxy, directed by James Gunn, with a budget of 170,000,000 and a gross revenue of 773,328,629
9. The Hunger Games, directed by Gary Ross, with a budget of 75,000,000 and a gross revenue of 691,210,692
10. Mad Max: Fury Road, directed by George Miller, with a budget of 150,000,000 and a gross revenue of 378,858,340

> Finished chain.

{'input': 'Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.',
 'output': 'The movies with the highest votes but the lowest budgets and their directors, along with their gross revenue, are:\n1. Inception, directed by Christopher Nolan, with a budget of 160,000,000 and a gross revenue of 825,532,764\n2. The Dark Knight, directed by Christopher Nolan, with a budget of 185,000,000 and a gross revenue of 1,004,558,444\n3. Avatar, directed by James Cameron, with a budget of 237,000,000 and a gross revenue of 2,787,965,087\n4. The Avengers, directed by Joss Whedon, with a budget of 220,000,000 and a gross revenue of 1,519,557,910\n5. Deadpool, directed by Tim Miller, with a budget of 58,000,000 and a gross revenue of 783,112,979\n6. Interstellar, directed by Christopher Nolan, with a budget of 165,000,000 and a gross revenue of 675,120,017\n7. Django Unchained, directed by Quentin Tarantino, with a budget of 100,000,000 and a gross revenue of 425,368,238\n8. Guardians of the Galaxy, directed by James Gunn, with a budget of 170,000,000 and a gross revenue of 773,328,629\n9. The Hunger Games, directed by Gary Ross, with a budget of 75,000,000 and a gross revenue of 691,210,692\n10. Mad Max: Fury Road, directed by George Miller, with a budget of 150,000,000 and a gross revenue of 378,858,340'}